/*CSS reset*/
*	{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
}

html { font-size: calc(0.7em + 1vw) ;}

body {
	/*background-color: skyblue;*/
	/*background-image: url("../images/contemp.jpg");*/
	background-image: linear-gradient(90deg, rgba(2,0,36,0.4) 0%, rgba(0,212,255,0.4) 20%, rgba(134,104,170,0.4) 37%, rgba(134,104,170,0.3) 115%), url("../images/contemp.jpg");
	background-size: cover;
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	color: #f2f2f2f2; /*off white*/
}
/*end of body styling*/

h1	{
	/*font-size: 5vh;*/
	font-family: 'Vollkorn SC', serif;
	background-color: #333;
	text-transform: uppercase;
	margin-bottom: 20px;
	letter-spacing: 2px;
	text-align: center;
}

h2	{
	font-family: 'B612', sans-serif;
	color: yellow;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-bottom: 15px;
	background-color: #333;
	margin: 10px; /*adds space outside element*/
	padding: 10px; /*adds space inside element*/
	border-radius: 15px;
	border: 0.15vw solid #333;
	font-size: calc(0.4em + 1vw) ;

}

p  	{
/*	font-size: 1em;*/
}

.bio	{
	font-family: 'B612', sans-serif;
	font-size: 18px;
	background-color: rgba(51,51,51, 0.5);
	line-height: 1.75;
}
/*end of class bio styling*/

#me	{
	height: auto;
	width: 15vw;
	border-radius: 50%;
	position: center;
	border-color: #f1f9ed;
	border-width: 5px;
	border-style: solid;
	margin-top: 50px;
	margin-bottom: 2vh;
}

.center {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
}

.container	{
	height: auto;
  	margin-left: auto;
  	margin-right: auto;
  	width: 40%;
  	text-align: center;

}